<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    {% if app.session.flash('notice') %}
    <div class="flash_message">
      <em>Notice</em>: {{ app.session.flash('notice') }}
    </div>
    {% endif %}
    <ul>
      <li><a href="{{ path(rizza_calendar_route('calendar', 'add')) }}">New Calendar</a></li>
{% if calendar is defined %}
      <li><a href="{{ path(rizza_calendar_route('event', 'add'), {"calendar_id": calendar.getId()}) }}">New Event</a></li>
{% endif %}
    </ul>
    <div>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>