{% extends "RizzaCalendarBundle::layout.html.twig" %}
{% block content %}
<div class="calendar_list">
    <ul>
        {% for calendar in calendars %}
        <li><a href="{{ path(rizza_calendar_route('calendar', 'show'), {'id': calendar.getId()} ) }}">{{ calendar.getName() }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}