{% extends "RizzaCalendarBundle::layout.html.twig" %}

{% block rizza_calendar_content %}
<form method="post">
    <h3>Are you SURE you want to delete {{ attendee.user.username }}'s attendance to {{ attendee.event.title }}? This cannot be undone!</h3>
    <input type="submit" value="Confirm" />
    <a href="{{ path(rizza_calendar_route('attendee', 'show'), {'id': attendee.id}) }}">Cancel</a>
</form>
{% endblock rizza_calendar_content %}