{% extends "RizzaCalendarBundle::layout.html.twig" %}
{% block rizza_calendar_content %}
<form method="post">
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock rizza_calendar_content %}