{% extends "RizzaCalendar::layout.html.twig" %}
{% block content %}
<div class="event_list">
    <ul>
        {% for event in events %}
        <li><a href="{{ path('_calendar_event_show', {'id': event.getId()} ) }}">{{ event.getTitle() }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}